<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="ntnu.stud.steinkso.learninganalytics.markerlogger.CompilationParticipant1"
            id="ntnu.stud.steinkso.learninganalytics.markerlogger.compilationParticipant1">
      </compilationParticipant>
   </extension>

</plugin>
